.menu{
  padding-left: 186px;
  padding-top: 149px;
  background-image: url('../../assets/image/bg_menu.png');
  background-repeat: repeat-y;
  background-position: right top;
  background-size: 627px 1024px;
  
  .content{
    display: flex;
    justify-content: left;
    .title{
      width: 348px;
      :nth-child(3){
        font-family: PingFangSC-Light, PingFang SC;
        color: #424242;
        line-height: 26px;
      }
      :nth-child(5){
        font-family: Inter-Regular_Light, Inter;
        color: #99CCFF;
        line-height: 26px;
      }
    }
    .card{
      width: 328px;
      height: 310px;
      background: #000000;
      border-radius: 24px;
      padding: 25px 24px;
      text-align: center;
      .card-img{
        font-size: 65px;
      }
      .card-title{
        font-size: 44px;
        font-family: OriyaMN;
        color: #99CCFF;
        line-height: 53px;

      }
      .card-sub-title{
        font-family: Inter-Regular, Inter;
        color: #4A4A4A;
        line-height: 23px;
      }
    }
  }
}