
$color-10: #151621;
$color-11: #0C0C12;
$color-12: #0A090D;
$color-13: #000000;

$color-20: #5C52FF;
$color-21: #312BA2;

$color-30: #22214C;
$color-31: #29274E;
$color-32: #10093C;
$color-33: #2B3446;
$color-34: #0C0939;

$color-40:#DEB35D;


// color
$color-text: #fff;
$color-text-2: rgba($color-text, .6);
$color-text-3: rgba($color-text, .36);
$color-text-gray: #424242;
$color-link: $color-20;
$color-link-hover: $color-20;

$background-color-header: $color-11;
$background-color-footer: $color-12;

// width
$width-container: 1080px;

// height
$height-header: 72px;
$height-footer: 80px;
$height-between-header-and-container: 24px;
$height-between-footer-and-container: 48px;

//
$border-radius: 4px;