.unlock-wallet {
  width: 140px;
}
.btn {
  border-radius: 20px !important;
  color: #1D1D1D;
}
.my-wallet {
  display: flex;
  flex-direction: column;
  align-items: center;
  p:nth-child(1) {
    font-size: 65px;
    padding: 64px 0 0;
  }
  p:nth-child(2) {
    font-weight: 700;
    padding-top: 46px;
    font-size: 44px;
    font-family: OriyaMN;
    color: #99CCFF;
    line-height: 53px;
    
  }
  p:nth-child(3) {
    padding-top: 12px;
    font-family: Inter-Regular, Inter;
    font-weight: 400;
    color: #4A4A4A;
    line-height: 23px;
  }

  button{
    margin-left: 0 !important;
    margin-top: 24px;
  }
}